
<div class="activity">
  <div class="body">
    <abbr class="timeago" title="2017-03-03 07:08:18 UTC">3 days ago on skeltors</abbr> <div class="title">
      <%= fa_icon 'comment' %> <a href="/waqar-baig">Kyle Tress</a> commented on Morgan Tracey's <a href="/posts/114">timesheet</a>
    </div>
    <div class="details">
      It looks like you were losing time between corners 3 and 4. What are you doing there?
    </div>
  </div>
</div>

<div class="activity">
  <div class="body">
    <abbr class="timeago" title="2017-03-03 07:08:18 UTC">3 days ago on skeletors</abbr> <div class="title">
      <%= fa_icon 'line-chart' %> <a href="/waqar-baig">Kyle Tress</a> shared a graph on Morgan Tracey's <a href="/posts/114">timesheet</a>
    </div>
    <div class="details">
      asdasdads
    </div>
  </div>
</div>

<div class="activity">
  <div class="body">
    <abbr class="timeago" title="2017-03-03 07:08:18 UTC">3 days ago on skeletors</abbr> <div class="title">
      <%= fa_icon 'bars' %> <a href="/waqar-baig">Morgan Tracey</a> shared a <a href="/posts/114">timesheet</a>
    </div>
    <div class="details">
      Park City Unofficial Training Mixed, March 1st, 2017
    </div>
  </div>
</div>

<div class="activity">
  <div class="body">
    <abbr class="timeago" title="2017-03-03 07:08:18 UTC">4 days ago on skeletors</abbr> <div class="title">
      <%= fa_icon 'sign-in' %> <a href="/waqar-baig">Morgan Tracey</a> joined <a href="/posts/114">Skeletors</a>
    </div>
    <div class="details">
    </div>
  </div>
</div>

<div class="activity">
  <div class="body">
    <abbr class="timeago" title="2017-03-03 07:08:18 UTC">4 days ago on skeletors</abbr> <div class="title">
      <%= fa_icon 'users' %> <a href="/waqar-baig">Kyle Tress</a> created the team: <a href="/posts/114">Skeletors</a>
    </div>
    <div class="details">
    </div>
  </div>
</div>

<div class="activity">
  <div class="body">
    <abbr class="timeago" title="2017-03-03 07:08:18 UTC">4 days ago on skeletors</abbr> <div class="title">
      <%= fa_icon 'sign-in' %> <a href="/waqar-baig">You</a> joined <a href="/posts/114">World Cup Team</a>
    </div>
    <div class="details">
    </div>
  </div>
</div>

<div class="activity">
  <div class="body">
    <abbr class="timeago" title="2017-03-03 07:08:18 UTC">4 days ago on World Cup Team</abbr> <div class="title">
      <%= fa_icon 'users' %> <a href="/waqar-baig">Tuffy Latour</a> created the team: <a href="/posts/114">World Cup Team</a>
    </div>
    <div class="details">
    </div>
  </div>
</div>
