<% provide(:title, "Edit #{@team.name}") %>
<div class="container">
  <h2>Team Settings</h2>
  <%= link_to 'Return to team', team_path(@team) %>
  <p><strong>Team Code:</strong> <%= @team.team_code %> <small></small></p>

  <%= simple_form_for @team do |f| %>
    <%= f.input :name %>
    <%= f.input :team_code, disabled: true %>
    <p><small><%= link_to 'generate new code', '#' %></small></p>
    <%= f.submit %>
  <% end %>

</div>
