<div class="container">
  <h2><%= @team.name %></h2>
  <% if @team.owner == current_user %>
    <%= link_to edit_team_path(@team), class: 'btn btn-default btn-xs' do %>
      <%= fa_icon 'cog', text: 'Team Settings' %>
    <% end %>
    <%= link_to new_team_membership_path(@team), class: 'btn btn-success btn-xs' do %>
      <%= fa_icon 'envelope', text: 'Invite members by email' %>
    <% end %>
  <% else %>
    <%= link_to 'Leave this team', '#' %>
    <%= link_to "Leave this team", team_membership_path(@team, current_user.memberships.where(team: @team).first), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
  <% end %>

  <strong>Team owner: <%= @team.owner.name %></strong>

</div>
