<tr>
  <td class="rank"><%= ranking.world_rank %>.</td>
  <td><small class="text-muted"><%= ranking.athlete.timesheet_country %> <%= ranking.nation_rank %> &mdash;</small> <%= link_to ranking.athlete.name, ranking.athlete %></td>
  <td><%= ranking.total_points %></td>
</tr>
