<tr>
  <td class="rank"><%= ranking.world_rank %>. <small class="nation-rank text-muted"><%= ranking.athlete.timesheet_country %> <%= ranking.nation_rank %></small></td>
  <td> <%= flag_for ranking.athlete %> <%= link_to ranking.athlete.name, ranking.athlete %></td>
  <td><%= ranking.total_points %></td>
</tr>
