<h2><%= @season.name %></h2>

<div class="row">
  <div class="col-xs-6">
    <table class="table table-bordered">
      <caption>Men's Overall Points</caption>
      <tr>
        <th>Rank</th>
        <th>Athlete</th>
        <th>Points</th>
      </tr>
      <% @mens.each do |point| %>
        <tr>
          <td><%= point.world_rank %></td>
          <td><small class="text-muted"><%= point.athlete.timesheet_country %> <%= point.nation_rank %> &mdash;</small> <%= link_to point.athlete.name, point.athlete %></td>
          <td><%= point.total_points %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-xs-6">
    <table class="table table-bordered">
      <caption>Women's Overall Points</caption>
      <tr>
        <th>Rank</th>
        <th>Athlete</th>
        <th>Points</th>
      </tr>
      <% @womens.each do |point| %>
        <tr>
          <td><%= point.world_rank %></td>
          <td><small class="text-muted"><%= point.athlete.timesheet_country %> <%= point.nation_rank %> &mdash;</small> <%= link_to point.athlete.name, point.athlete %></td>
          <td><%= point.total_points %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
