<% provide(:title, @track.name) %>
<section class="timesheet-header">
  <div class="container">
    <header>
      <div class="timesheet-title">
        <h2><%= @track.name %></h2>
      </div>
    </header>
</section>

<div class="container">
  <div class="weather">
    <% @five_day_forecast.each do |day| %>
      <div class="day">
        <h3><%= Time.at(day.time).strftime('%A') %></h3>
        <%= image_tag "#{day.icon}.svg", width: '50'%>
        <p>High: <%= day.apparentTemperatureMax.to_i %> | Low: <%= day.apparentTemperatureMin.to_i %></p>
        <p><%= day.summary %></p>
      </div>
    <% end %>
  </div>

  <table class="track-record-table table table-bordered">
    <tr>
      <th></th>
      <th>Start Record</th>
      <th>Track Record</th>
      <th>Average Finish</th>
    </tr>
   <tr>
     <th>Men</th>
     <td><% unless @sr_men.nil? %>
       <%= link_to @sr_men.entry.athlete.name, @sr_men.entry.athlete %>
       <%= display_time @sr_men.start %>
       <% end %></td>
     <td><% unless @tr_men.nil? %>
       <%= link_to @tr_men.entry.athlete.name, @tr_men.entry.athlete %>
       <%= display_time @tr_men.finish %>
       <% end %></td>
     <td><%= display_time @track.average_finish_men %></td>
    </tr>
    <tr>
      <th>Women</th>
      <td><% unless @sr_women.nil? %>
        <%= link_to @sr_women.entry.athlete.name, @sr_women.entry.athlete %>
        <%= display_time @sr_women.start %>
        <% end %></td>
      <td><% unless @tr_women.nil? %>
        <%= link_to @tr_women.entry.athlete.name, @tr_women.entry.athlete %>
        <%= display_time @tr_women.finish %>
        <% end %></td>
      <td><%= display_time @track.average_finish_women %></td>
     </tr>
  </table>


  <table class="table">
    <tr>
      <th>Date</th>
      <th>Timesheet</th>
      <th>Entries</th>
      <th>Best Finish</th>
    </tr>
    <% @track.timesheets.general.each do |timesheet| %>
    <tr>
      <td><%= timesheet.nice_date %></td>
      <td><%= link_to timesheet.name, timesheet %></td>
      <td><%= timesheet.entries.count %></td>
      <td><%= display_time timesheet.runs.minimum(:finish) %></td>
    </tr>
    <% end %>
  </table>
</div>
