<h2>Startlist</h2>
<p><%= @timesheet.name %> on <%= @timesheet.nice_date %></p>

<div>
<%= render 'form' %>
</div>

<p><%= link_to timesheet_entries_path(@timesheet, format: "pdf") do %>
  <%= fa_icon 'file-pdf-o', text: 'Printable Startlist (PDF)' %>
<% end %></p>

<ol id="entries" data-update-url="<%= sort_timesheet_entries_url %>">
  <%= render @entries %>
</ol>

<%= link_to 'Add an entry', new_timesheet_entry_path(@timesheet) %>
<%= link_to 'Back to timesheet', @timesheet %>
