<% provide(:title, @user.name) %>
<div class="container">
  <h2>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h2>

  <div class="row">
    <div class="col-md-9">
      <h3>Private Timesheets</h3>
    </div>
    <div class="col-md-3">
      <%= link_to 'New timesheet', new_timesheet_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
    <% @timesheets.each do |timesheet| %>
    <tr>
      <td><%= link_to timesheet.name, timesheet_url(timesheet) %></td>
      <td><%= track_time timesheet %></td>
      <td><%= link_to 'Share', '#', data: {toggle: "modal", target: ".share-timesheet-modal", timesheet_id: timesheet.id} %></td>
    </tr>
    <% end %>
  </table>
  <h3>Shared</h3>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Shared By</th>
    </tr>
    <% @being_shared_timesheets.each do |timesheet| %>
    <tr>
      <td><%= link_to timesheet.name, timesheet_url(timesheet) %></td>
      <td><%= track_time timesheet %></td>
      <td><%= timesheet.user.name %></td>
    </tr>
    <% end %>
  </table>
</div>

<%= render 'share_modal' %>
