<figure class="athlete-card small" data-id="<%= athlete.id %>">
  <%= link_to athlete_path(athlete) do %>
  <% end %>
  <figcaption>
    <h4><%= link_to athlete.name, athlete %></h4>
    <p><%= flag_for athlete %> <%= athlete.country_name %></p>
  </figcaption>
</figure>
