<%= form_for @athlete do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
    or upload from the web
    <%= f.text_field :remote_avatar_url %>
  </div>
  <div class="form-group">
    <%= f.label :gender %>
    <%= f.select :gender, options_for_select(@genders.collect { |g| [g[0].humanize, g[0]] }, selected: @athlete.gender), {} , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :country_code %>
    <%= country_select("athlete", "country_code", { priority_countries: ["US"], only: ["GB", "FR", "US", "CA", "CN", "BG", "LV", "CH", "IT", "RU", "DE", "AR", "AT", "AU", "BE", "BM", "BR", "CL", "CZ", "ES", "GR", "HR", "IE", "IL", "IQ", "JP", "JM", "KR", "LB", "MC", "MX", "NL", "NO", "NZ", "PL", "RO", "SE", "SI", "SK", "UA", "ZA" ]}, { selected: "GB", class: 'form-control' }) %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
