<%= form_for @athlete do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
    <%= f.label :male, "Male" %>
    <%= f.radio_button :male, true %>
    <%= f.label :male, "Female" %>
    <%= f.radio_button :male, false %>
  <div class="form-group">
    <%= f.label :country_code %>
    <%= country_select("athlete", "country_code", { priority_countries: ["US"], only: ["GB", "FR", "US", "CA", "BG", "LV", "CH", "IT", "RU", "DE", "AT", "AU", "BE", "BM", "BR", "CZ", "ES", "GR", "HR", "IE", "IL", "IZ", "JP", "JM", "KR", "MX", "NL", "NO", "NZ", "PL", "RO", "SE", "SI", "SK", "ZA" ]}, { selected: "GB", class: 'form-control' }) %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>