<div class="profile-card <%= header_for @athlete %>">
  <figure class="profile">
    <%= image_tag @athlete.avatar_url(:thumb).to_s, size: '125x125', class: 'athlete-avatar' %>
    <figcaption>
      <h2><%= @athlete.name %></h2>
      <p class="text-muted"><%= @athlete.country_name %></p>
      <% if @athlete.profile.present? %>
        <p class="lead"><%= @athlete.profile.about %></p>
      <% end %>
    </figcaption>
  </figure>

</div>
<div class="stat-nav">
  <ul>
    <li class="stat-item">
      <h3><%= @total_points %></h3>
      season points
    </li>
    <li class="stat-item">
      <h3><%= @athlete.world_rank(@season) %></h3>
      world rank
    </li>
    <li class="stat-item">
      <% if current_user && current_user.admin? %>
        <%= link_to 'Edit', edit_athlete_path(@athlete) %>
      <% end %>
    </li>
  </ul>
</div>
