<div class="stat-nav">
  <div class="container">
    <ul>
      <li class="stat-item">
        <%= fa_icon 'check-circle-o' %>
        <span><%= @total_points %></span> points
      </li>
      <li class="stat-item">
        <%= fa_icon 'globe' %>
        <% if @athlete.world_rank(@season) == 0 %>
          no current world rank
        <% else %>
          <span><%= @athlete.world_rank(@season).ordinalize %></span> in the world
        <% end %>
      </li>
      <li class="stat-item">
        <%= fa_icon 'list-ul' %>
        <span><%= @athlete.entries.count %></span> <%=  "race".pluralize(@athlete.entries.count) %>
      </li>
      <% if @athlete.is_olympian? %>
      <li class="stat-item">
        <img src="/rings.svg" class="rings" alt="" height="28">
        Olympian
      </li>
      <% end %>
      <li class="stat-item">
        <% if current_user && current_user.admin? %>
          <%= link_to 'Edit', edit_athlete_path(@athlete) %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<section class="articles">
  <h3>Recent News</h3>
  <ul>
    <% @athlete.articles.each do |article| %>
      <% title = strip_tags article.title %>
      <li><%= link_to title, article.link %></li>
    <% end %>
  </ul>
</section>
