<div class="athlete-masthead">
  <div class="container">
    <div class="flex">
      <% if @athlete.avatar.present? %>
        <%= image_tag @athlete.avatar_url(:thumb).to_s, size: '125x125', class: 'athlete-avatar' %>
      <% end %>
      <div>
        <h2><%= @athlete.name %></h2>
        <p><%= flag_for @athlete %> <%= @athlete.country_name %></p>
      </div>
    </div>
  </div>
</div>

<div class="stat-nav">
  <div class="container">
    <ul>
      <li class="stat-item">
        <%= fa_icon 'check-circle-o' %>
        <span><%= @total_points %></span> points
      </li>
      <li class="stat-item">
        <%= fa_icon 'globe' %>
        <% if @athlete.world_rank(@season) == 0 %>
          no current world rank
        <% else %>
          <span><%= @athlete.world_rank(@season).ordinalize %></span> in the world
        <% end %>
      </li>
      <li class="stat-item">
        <%= fa_icon 'list-ul' %>
        <span><%= @athlete.entries.count %></span> lifetime <%= pluralize(@athlete.entries.count, 'race') %>
      </li>
      <li class="stat-item">
        <% if current_user && current_user.admin? %>
          <%= link_to 'Edit', edit_athlete_path(@athlete) %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
