
<div class="container">
  <h2>Career Medals</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Total</th>
        <th>OWG</th>
        <th>WC</th>
        <th>WChamps</th>
        <th>IC</th>
        <th>EC</th>
        <th>NAC</th>
      </tr>
    </thead>
    <tbody>
      <% @medalists.each_with_index do |medalist, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to medalist.name, medalist %></td>
          <td><%= medalist['total_medals'].to_i %></td>
          <td><%= medalist['owg_total'].to_i %></td>
          <td><%= medalist['wc_total'].to_i %></td>
          <td><%= medalist['wch_total'].to_i %></td>
          <td><%= medalist['ic_total'].to_i %></td>
          <td><%= medalist['ec_total'].to_i %></td>
          <td><%= medalist['nac_total'].to_i %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
