<% provide(:title, "Athletes") %>
<%= link_to 'New Athlete', new_athlete_path, class: 'btn btn-primary' %>
<div class="row">
  <h1>Athletes</h1>
  <div class="col-sm-6">
    <table class="table table-bordered">
      <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Country</th>
      </tr>
      <%= render @athletes %>
    </table>
  </div>
  <div class="col-sm-6">
    <h3>Top Ten Performers</h3>
      <table class="table table-bordered table-condensed">
        <tr>
          <th>Rank</th>
          <th>Athlete</th>
          <th>Medal Count</th>
        </tr>
        <% @top_ten.each_with_index do |top, index| %>
        <tr>
          <td><%= index + 1 %>.</td>
          <td><%= link_to top.athlete.name, top.athlete %></td>
          <td><%= top.count %></td>
        </tr>
        <% end %>
      </table>
  </div>
</div>
