<% provide(:title, @athlete.name) %>
<h1><%= @athlete.name %></h1>
<p><%= @athlete.country_name %></p>

<table class="table table-bordered">
  <% @entries.each do |entry| %>
  <tr>
    <td><%= nice_date entry.date %></td>
    <td><%= link_to entry.timesheet.name, entry.timesheet %></td>
    <td><%= entry.timesheet.circuit.name %></td>
    <td><%= entry.position %> <%= rank_icon entry.position %></td>
  </tr>
  <% end %>
</table>