<% provide(:title, @athlete.name) %>
<h1><span class="flag flag-<%= @athlete.country_code %>"></span> <%= @athlete.name %></h1>
<p><%= @athlete.country_name %></p>
<% if @athlete.is_olympian? %>
<p>Olympian</p>
<% end %>

<h3>Current Season Points: <%= @athlete.season_point_total %></h3>

<table class="table table-bordered">
  <tr>
    <th>Points</th>
    <th>Race</th>
  </tr>
  <% @points.each do |point| %>
  <tr>
    <td><%= point.value %></td>
    <td><%= link_to point.timesheet.name, timesheet_points_path(point.timesheet) %></td>
  </tr>
  <% end %>
</table>

<table class="table table-bordered">
  <tr>
    <th>Date</th>
    <th>Timesheet Name</th>
    <th>Circuit</th>
    <th>Rank</th>
  </tr>
  <% @entries.each do |entry| %>
  <tr>
    <td class="timesheet-date"><%= nice_date entry.date %></td>
    <td class="timesheet-name"><%= link_to entry.timesheet.name, entry.timesheet %></td>
    <td class="timesheet-circuit"><%= entry.timesheet.circuit.name %></td>
    <td class="timesheet-position"><%= entry.bib %> <%= rank_icon entry.bib %></td>
  </tr>
  <% end %>
</table>
