<% provide(:title, @athlete.name) %>

<section class="timesheet-header">
  <div class="container">
    <div class="flex">
      <% if @athlete.avatar.present? %>
        <%= image_tag @athlete.avatar_url(:thumb).to_s, size: '125x125', class: 'athlete-avatar' %>
      <% end %>
      <div>
        <h2><%= @athlete.name %></h2>
        <p><%= flag_for @athlete %> <%= @athlete.country_name %></p>
      </div>
    </div>

    <ul class="nav nav-tabs timesheet-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><%= fa_icon 'user' %> Profile</a></li>
      <li role="presentation"><a href="#recent" aria-controls="recent" role="tab" data-toggle="tab"><%= fa_icon 'list-ul' %> Recent Results</a></li>
      <li role="presentation"><a href="#career" aria-controls="career" role="tab" data-toggle="tab"><%= fa_icon 'th-list' %> Career Results <span class="badge badge--entry-count"><%= @athlete.entries.count %></span></a></li>
      <li role="presentation"><a href="#stats" aria-controls="stats" role="tab" data-toggle="tab"><%= fa_icon 'signal' %> Stats</a></li>
    </ul>
  </div>
</section>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="profile">
    <%= render 'profile' %>
  </div>
  <div role="tabpanel" class="tab-pane" id="recent">
    <%= render 'recent' %>
  </div>
  <div role="tabpanel" class="tab-pane" id="career">
    <%= render 'career' %>
  </div>
  <div role="tabpanel" class="tab-pane" id="stats">
    <%= render 'stats' %>
  </div>
</div>
