<table class="table timesheets">
  <% @ranked.each do |entry| %>
    <tbody>
       <tr class="timesheet-table-header">
         <td colspan="7"><strong><%= entry.rank %>. <%= link_to entry.athlete.name, entry.athlete %></strong></td>
      </tr>
      <% entry.runs.each do |run| %>
        <tr>
          <% if run.status == "ok" %>
            <td><%= display_time run.start %></td>
            <td><%= display_time run.int1 %></td>
            <td><%= display_time run.int2 %></td>
            <td><%= display_time run.int3 %></td>
            <td><%= display_time run.int4 %></td>
            <td><%= display_time run.int5 %></td>
            <td><%= display_time run.finish %></td>
          <% else %>
            <td colspan="6"></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
