<table class="table timesheets">
  <% @ranked.each do |entry| %>
    <tbody>
       <tr class="timesheet-table-header">
         <td colspan="5"><strong><%= entry.rank %>.</strong> <%= entry.athlete.timesheet_country %> <strong class="athlete-name"><%= link_to entry.athlete.name, entry.athlete %></strong>
          <%= link_to new_entry_run_path(entry), class: 'new-run-link' do %>
           <%= fa_icon 'plus', text: 'Add run' %>
          <% end %>
          <%= link_to edit_entry_path(entry), class: 'new-run-link' do %>
            <%= fa_icon 'pencil', text: 'Edit entry' %>
          <% end %>
        </td>
         <td class="total_time">
           <% if entry.status == "ok" %>
           <strong><%= display_total entry.total_time %> (+<%= display_total entry.time_behind %>)</strong>
           <% else %>
            <strong><%= entry.status.upcase %></strong>
           <% end %>
         </td>
      </tr>
      <% entry.runs.each do |run| %>
        <tr>
          <% if run.status == "ok" %>
            <td><%= display_time run.start %></td>
            <td><%= display_time run.split2 %></td>
            <td><%= display_time run.split3 %></td>
            <td><%= display_time run.split4 %></td>
            <td><%= display_time run.split5 %></td>
            <td>
              <%= display_time run.finish %>
              <span class="admin-links">
                <%= link_to edit_run_path(run), class: 'new-run-link' do %>
                  <%= fa_icon 'pencil' %>
                <% end %>
                <% if current_user.admin? %>
                  <%= link_to run_path(run), method: :delete, class: "new-run-link", data: {confirm: "You sure?"} do %>
                    <%= fa_icon 'trash' %>
                  <% end %>
                <% end %>
              </span>
            </td>
          <% else %>
            <td colspan="6"></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <% end %>
   <tr class="timesheet-table-header">
     <td colspan="6"><%= link_to "Add Entry", timesheet_entries_path(@timesheet) %></td>
   </tr>
</table>
