<table class="table timesheets">
  <% @ranked.each do |entry| %>
    <tbody>
       <tr class="timesheet-table-header">
         <td colspan="5"><strong><%= entry.rank %>.</strong> <%= entry.athlete.timesheet_country %> <strong><%= link_to entry.athlete.name, entry.athlete %></strong> <%= link_to 'New Run', new_entry_run_path(entry), class: 'new-run-link' %> <%= link_to 'Edit Entry', edit_entry_path(entry), class: 'new-run-link' %></td>
         <td class="total_time">
           <% if entry.status == "ok" %>
           <strong><%= display_total entry.total_time %> (+<%= display_total entry.time_behind %>)</strong>
           <% else %>
            <strong><%= entry.status.upcase %></strong>
           <% end %>
         </td>
      </tr>
      <% entry.runs.each do |run| %>
        <tr>
          <% if run.status == "ok" %>
            <td><%= display_time run.start %></td>
            <td><%= display_time run.split2 %></td>
            <td><%= display_time run.split3 %></td>
            <td><%= display_time run.split4 %></td>
            <td><%= display_time run.split5 %></td>
            <td>
              <%= display_time run.finish %>
              <%= link_to "edit", edit_run_path(run), class: 'new-run-link' %>
              <% if current_user.admin? %>
                <%= link_to "delete", run_path(run), method: :delete, class: "new-run-link", data: {confirm: "You sure?"} %>
              <% end %>
            </td>
          <% else %>
            <td colspan="6"></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <% end %>
   <tr>
     <td colspan="6"><%= link_to "Add Entry", timesheet_entries_path(@timesheet) %></td>
   </tr>
</table>
