<% provide(:title, "Timesheets") %>
<h1>Timesheets</h1>
<table class="table table-bordered">
  <% @timesheets.group_by(&:season).each do |season, timesheets| %>
    <tr>
      <th colspan="2"><%= season.name %></th>
    </tr>
    <% timesheets.each do |timesheet| %>
      <tr>
        <td class="timesheet-name"><%= link_to timesheet.name, timesheet %> 
          <% if timesheet.pdf.present? %>
            <%= link_to timesheet.pdf_url, class: "btn btn-default btn-xs" do %>
              <i class="glyphicon glyphicon-file"></i> Download PDF
            <% end %>
          <% end %>
        </td>
        <td><%= timesheet.nice_date %></td>
      </tr>
    <% end %>
  <% end %>
  <% # render @timesheets %>

</table>

<%= link_to 'New Timesheet', new_timesheet_path, class: 'btn btn-primary' %>
