<% provide(:title, @timesheet.name) %>

<section class="timesheet-header">
  <div class="container">

    <ul class="nav nav-tabs timesheet-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#splits" aria-controls="splits" role="tab" data-toggle="tab">Splits</a></li>
      <li role="presentation"><a href="#intermediates" aria-controls="intermediates" role="tab" data-toggle="tab">Intermediates</a></li>
      <li role="presentation"><a href="#differences" aria-controls="differences" role="tab" data-toggle="tab">Differences</a></li>
      <li role="presentation"><a href="#graphs" aria-controls="graphs" role="tab" data-toggle="tab">Graphs</a></li>
    </ul>
  </div>
</section>


<% if @timesheet.entries.blank? %>

<% else %>

<div class="container">
  <div class="timesheet-title">
    <h2>
      <%= @timesheet.name %>
      <% if @timesheet.nickname.present? %>
        <br/><small><%= @timesheet.nickname %></small>
      <% end %>
      <% if @timesheet.ibsf_url.present? %>
        <br/><small><%= link_to 'View on IBSF.com', @timesheet.ibsf_url %></small>
      <% end %>
    </h2>
    <time><%= track_time @timesheet %></time>
    <% if @timesheet.weather.present? %>
      <div><i class="wi wi-forecast-io-<%= @timesheet.weather['icon']%>"></i> <%= @timesheet.weather['temperature'].to_i %> (feels like: <%= @timesheet.weather['apparentTemperature'].to_i %> ) | Humidity: <%= @timesheet.weather['humidity'] * 100 %>%</div>
    <% end %>
    <div class="dropdown">
      <button class="btn btn-sledsheet btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        <%= fa_icon 'cog', text: 'edit' %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><%= link_to 'Startlist', timesheet_entries_path(@timesheet), role: 'menuitem', tabindex: -1 %></li>
        <% if @timesheet.pdf.present? %>
            <li role="presentation">
              <%= link_to @timesheet.pdf_url, role: "menuitem", tabindex: -1 do %>
                <i class="glyphicon glyphicon-file"></i> Download official PDF
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="splits">
      <%= render 'splits' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="intermediates">
      <%= render 'intermediates' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="differences">
      <%= render 'differences' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="graphs">
      <%= render 'graphs' %>
    </div>
  </div>
</div>

<% end %>
