<% provide(:title, @timesheet.name) %>
<div class="page-header">
  <h2><%= @timesheet.name %> <span><time><%= @timesheet.nice_date %></time></span></h2>
</div>
<% if @timesheet.nickname.present? %>
  <p><%= @timesheet.nickname %></p>
<% end %>

<% if @timesheet.pdf.present? %>
  <%= link_to @timesheet.pdf_url, class: "btn btn-default btn-sm" do %>
    <i class="glyphicon glyphicon-file"></i> Download the PDF
  <% end %>
<% end %>

<% if @timesheet.entries.blank? %>
  <p>There are no entries yet</p>
<% else %>
<table class="table">
  <% @ranked.each do |entry| %>
    <tbody>
       <tr class="timesheet-table-header">
         <td><strong><%= entry.rank %>.</strong> <%= entry.athlete.timesheet_country %> <%= link_to entry.athlete.name, entry.athlete %></td>
         <td class="total_time"><strong><%= display_total entry.total_time %></strong> <span class="position">(+0.00)</span></td>
      </tr>
      <% entry.runs.each do |run| %>
      <tr>
        <td class="total_time"><%= display_time run.start %></td>
        <td class="total_time"><%= display_time run.finish %>
      </tr>
      <% end %>
    </tbody>
  <% end %>
  <% end %>
</table>
