<% provide(:title, @timesheet.name) %>
<div class="page-header">
  <div class="container">
    <h2><%= @timesheet.name %></h2>
    <time><%= @timesheet.nice_date %></time>
    <% if @timesheet.nickname.present? %>
      <p><%= @timesheet.nickname %></p>
    <% end %>
    <ul class="timesheet-menu">
      <li><%= link_to timesheet_points_path(@timesheet) do %>
        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Points
      <% end %>
      </li>
      <li><%= link_to timesheet_path(@timesheet, format: "pdf") do %>
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> PDF
        <% end %>
      </li>
      <li><%= link_to timesheet_entries_path(@timesheet) do %>
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Startlist
        <% end %>
      </li>
      <% if current_user.admin? %>
        <li><%= link_to edit_timesheet_path(@timesheet) do %>
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit
        <% end %>
        </li>
        <li class="text-danger"><%= link_to copy_timesheet_path(@timesheet) do %>
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Copy
          <% end %>
        </li>
        <li class="text-danger"><%= link_to @timesheet, method: :delete, data: { confirm: "You sure?" } do %>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">

<% if @timesheet.pdf.present? %>
  <%= link_to @timesheet.pdf_url, class: "btn btn-default btn-sm" do %>
    <i class="glyphicon glyphicon-file"></i> Download the PDF
  <% end %>
<% end %>

<% if @timesheet.entries.blank? %>
  <p><%= link_to 'Add', timesheet_entries_path(@timesheet) %> or <%= link_to 'import', timesheet_entries_path(@timesheet) %> entries.</p>
  <h4>Import from FIBT.com</h4>
  <%= form_tag import_timesheet_path do %>
    <%= text_field_tag :url %>
    <%= submit_tag "Import" %>
  <% end %>
<% else %>
<table class="table">
  <% @ranked.each do |entry| %>
    <tbody>
       <tr class="timesheet-table-header">
         <td colspan="5"><strong><%= entry.rank %>.</strong> <%= entry.bib %> <%= entry.athlete.timesheet_country %> <%= link_to entry.athlete.name, entry.athlete %> <%= link_to 'New Run', new_entry_run_path(entry) %> </td>
         <td class="total_time">
           <% if entry.status == "ok" %>
           <strong><%= display_total entry.total_time %> (+<%= display_total entry.time_behind %>)</strong>
           <% else %>
            <strong><%= entry.status.upcase %></strong>
           <% end %>
           (<%= link_to 'edit', edit_entry_path(entry) %>)
         </td>
      </tr>
      <% entry.runs.each do |run| %>
      <tr>
        <% if run.status == "ok" %>
        <td class="total_time"><%= display_time run.start %></td>
        <td class="total_time"><%= display_time run.split2 %></td>
        <td class="total_time"><%= display_time run.split3 %></td>
        <td class="total_time"><%= display_time run.split4 %></td>
        <td class="total_time"><%= display_time run.split5 %></td>
        <td class="total_time"><%= display_time run.finish %>
          <%= link_to "edit", edit_run_path(run) %> <% if current_user.admin? %> <%= link_to "delete", run_path(run), method: :delete, class: "text-danger", data: {confirm: "You sure?"} %>
  <% end %></td>
      <% else %>
        <td colspan="6"></td>
        <% end %>
      </tr>

      <% end %>
    </tbody>
  <% end %>
  <% end %>
   <tr>
     <td colspan="6"><%= link_to "Add Entry", timesheet_entries_path(@timesheet) %></td>
   </tr>
</table>

</div>
