<% provide(:title, @timesheet.name) %>

<section class="timesheet-header">
  <div class="container">
    <header>
      <div class="timesheet-title">
        <h2><%= @timesheet.name %></h2>
        <time><%= @timesheet.track.name %> Time: <%= track_time @timesheet %></time><br>
        <time><%= local_time @timesheet %></time>
        <% if @timesheet.personal? %>
          <span class="badge badge-danger">private</span>
        <% end %>
        <% if @timesheet.nickname.present? %>
          <p><%= @timesheet.nickname %></p>
        <% end %>
        <% if @timesheet.pdf.present? %>
          <%= link_to @timesheet.pdf_url, class: "btn btn-default btn-sm" do %>
            <i class="glyphicon glyphicon-file"></i> Download the PDF
          <% end %>
        <% end %>
      </div>
      <% if @timesheet.weather.present? %>
        <div class="weather">
            <div>
              <%= image_tag "#{@timesheet.weather['icon']}.svg", width: '50'%>
              <p>Temp: <%= @timesheet.weather['temperature'].to_i %> (feels like: <%= @timesheet.weather['apparentTemperature'].to_i %> ) | Humidity: <%= @timesheet.weather['humidity'] * 100 %>%</p>
              <p><%= @timesheet.weather['summary'] %></p>
              <p>Wind: <%= @timesheet.weather['windSpeed'].to_i %> mph</p>
            </div>
        </div>
      <% end %>

      <div class="dropdown">
        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          <%= fa_icon 'cog', text: 'settings' %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">

          <% if @timesheet.personal? %>
            <li role="presentation"><%= link_to "Generate PDF", timesheet_path(@timesheet, format: "pdf", role: "menuitem", tabindex: -1) %>
            <% if @timesheet.user == current_user %>
              <li role="presentation"><%= link_to 'Edit Timesheet', edit_timesheet_path(@timesheet), role: 'menuitem', tabindex: -1 %>
              <li role="presentation"><%= link_to 'Copy Timesheet', copy_timesheet_path(@timesheet), role: 'menuitem', tabindex: -1 %></li>
              <li role="presentation"><%= link_to "Delete timesheet", @timesheet, method: :delete, data: { confirm: "You sure?" }, role: 'menuitem', tabindex: -1 %></li>
            <% end %>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">SHARING</li>
            <% if @timesheet.user == current_user %>
              

              <li role="presentation"><%= link_to "Share timesheet", "#",data: {toggle: "modal", target: ".share-timesheet-modal", timesheet_id: @timesheet.id}, role: 'menuitem', tabindex: -1 %></li>

            <% elsif @is_this_timesheet_being_shared %>
              <li role="presentation"><%= link_to "Leave timesheet", leave_sharing_timesheet_path(@timesheet), role: 'menuitem', tabindex: -1 %></li>
            <% end %>
          <% end %>

          <% if @timesheet.general? %>
            <li role="presentation"><%= link_to 'Startlist', timesheet_entries_path(@timesheet), role: 'menuitem', tabindex: -1 %></li>
            <li role="presentation"><%= link_to "Generate PDF", timesheet_path(@timesheet, format: "pdf", role: "menuitem", tabindex: -1) %>
            <li role="presentation"><%= link_to "Points", timesheet_points_path(@timesheet), role: "menuitem", tabindex: -1 %></li>
          <% end %>

          <% if current_user.admin? %>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">ADMIN</li>
            <li role="presentation"><%= link_to 'Edit Timesheet', edit_timesheet_path(@timesheet), role: 'menuitem', tabindex: -1 %></li>
            <li role="presentation"><%= link_to 'Copy Timesheet', copy_timesheet_path(@timesheet), role: 'menuitem', tabindex: -1 %></li>
            <li role="presentation"><%= link_to "Delete timesheet", @timesheet, method: :delete, data: { confirm: "You sure?" }, role: 'menuitem', tabindex: -1 %></li>
          <% end %>

        </ul>
      </div>
    </header>

    <ul class="nav nav-tabs timesheet-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#splits" aria-controls="splits" role="tab" data-toggle="tab">Splits</a></li>
      <li role="presentation"><a href="#intermediates" aria-controls="intermediates" role="tab" data-toggle="tab">Intermediates</a></li>
      <li role="presentation"><a href="#differences" aria-controls="differences" role="tab" data-toggle="tab">Differences</a></li>
      <li role="presentation"><a href="#graphs" aria-controls="graphs" role="tab" data-toggle="tab">Graphs</a></li>
    </ul>
  </div>
</section>

<% if @timesheet.entries.blank? %>

  <p><%= link_to 'Add', timesheet_entries_path(@timesheet) %> or <%= link_to 'import', timesheet_import_path(@timesheet) %> entries.</p>
  <h4>Import from IBSF.org</h4>
  <%= form_tag import_timesheet_path do %>
    <%= text_field_tag :url %>
    <%= submit_tag "Import" %>
  <% end %>

<% else %>

<div class="container">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="splits">
      <%= render 'splits' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="intermediates">
      <%= render 'intermediates' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="differences">
      <%= render 'differences' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="graphs">
      <%= render 'graphs' %>
    </div>
  </div>
</div>

<%= render 'users/share_modal' %>

<% end %>
