<% provide(:title, @timesheet.name) %>
<div class="page-header">
  <h2><%= @timesheet.name %> <span><time><%= @timesheet.nice_date %></time></span></h2>
</div>
<% if @timesheet.nickname.present? %>
  <p><%= @timesheet.nickname %></p>
<% end %>

<% if @timesheet.entries.blank? %>
  <p><%= link_to 'Add', timesheet_entries_path(@timesheet) %> or <%= link_to 'import', timesheet_entries_path(@timesheet) %> entries.</p>
  <h4>Import from FIBT.com</h4>
  <%= form_tag import_timesheet_path do %>
    <%= text_field_tag :url %>
    <%= submit_tag "Import" %>
  <% end %>
<% else %>
<table class="table">
  <% @ranked.each do |entry| %>
    <tbody>
       <tr class="timesheet-table-header">
         <td colspan="5"><strong><%= entry.rank %>.</strong> <%= entry.athlete.timesheet_country %> <%= link_to entry.athlete.name, entry.athlete %> ( <%= link_to "Add Run", new_timesheet_entry_run_path(@timesheet, entry) %> )</td>
         <td class="total_time"><strong><%= display_total entry.total_time %></strong> <span class="position">(+0.00)</span></td>
      </tr>
      <% entry.runs.each do |run| %>
      <tr>
        <td class="total_time"><%= display_time run.start %></td>
        <td class="total_time"><%= display_time run.split2 %></td>
        <td class="total_time"><%= display_time run.split3 %></td>
        <td class="total_time"><%= display_time run.split4 %></td>
        <td class="total_time"><%= display_time run.split5 %></td>
        <td class="total_time"><%= display_time run.finish %> <%= link_to "Edit", edit_run_path(run) %>   <% if current_user.admin? %>
    | <small><%= link_to "delete", run_path(run), method: :delete, class: "text-danger", data: {confirm: "You sure?"} %></small>
  <% end %></td>
      </tr>
      <% end %>
    </tbody>
  <% end %>
  <% @unranked.each do |entry| %>
    <tr class="timesheet-table-header">
      <td colspan="5"><strong><%= entry.bib %>.</strong> <%= entry.athlete.timesheet_country %> <%= link_to entry.athlete.name, entry.athlete %> ( <%= link_to "Add Run", new_timesheet_entry_run_path(@timesheet, entry) %> )</td>
         <td class="total_time"><strong><%= display_total entry.total_time %></strong> <span class="position">(+0.00)</span></td>
      </tr>
  <% end %>
  <% end %>
   <tr>
     <td colspan="6"><%= link_to "Add Entry", timesheet_entries_path(@timesheet) %></td>
   </tr>
</table>



<%= link_to "edit timesheet", edit_timesheet_path(@timesheet) %>
