<p><%= link_to 'Send an invitation', new_admin_invitation_path, class: 'btn btn-success'%></p>

<div class="row">
  <div class="col-sm-12">
    <h3>Invitations</h3>
    <table class="table table-bordered">
      <% @invitations.each do |invitation| %>
      <tr>
        <td><%= mail_to invitation.try(:recipient_email), invitation.try(:recipient_email) %></td>
        <td><span class="text-muted"><%= invitation.status %></span></td>
        <% if invitation.status == "claimed" %>
          <td></td>
        <% elsif invitation.status == "pending" %>
          <td><%= link_to "Delete", admin_invitation_path(invitation), method: :delete, data: { confirm: "You sure?" }, class: 'text-danger' %></td>
        <% else %>
          <td><%= link_to 'Invite', admin_invitation_path(invitation), method: :patch %> or <%= link_to "Delete", admin_invitation_path(invitation), method: :delete, data: { confirm: "You sure?" }, class: 'text-danger' %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>
