<div class="container">
  <h2>Import from IBSF.org</h2>

  <%= form_tag timesheet_import_path do %>
    <div>
      <%= label_tag :finish_td, "Row that has finish time" %>
      <%= select_tag :finish_td, options_for_select([5, 6, 7, 8, 9], 6) %>
    </div>
    <div>
      <%= text_field_tag :url %>
    </div>
    <%= submit_tag 'Import' %>
  <% end %>
</div>
