<li class="divider"></li>
<li class="dropdown-header">ADMIN</li>
<li><%= link_to "Timesheets", admin_timesheets_path %></li>
<li><%= link_to "Invitations", admin_invitations_path %></li>
<li><%= link_to "Users", admin_users_path %></li>
<li><%= link_to "Tracks", admin_tracks_path %></li>
<li><%= link_to "Circuits", admin_circuits_path %></li>
<li><%= link_to "Runs", admin_runs_path %></li>
<li><%= link_to "Articles", admin_articles_path %></li>
<li><%= link_to "Jobs", sidekiq_web_path %></li>
